%script{:type => "text/javascript",
        :src  => "//code.jquery.com/jquery-1.10.2.js"}

%script{:type => "text/javascript",
        :src  => "//code.jquery.com/ui/1.11.4/jquery-ui.js"}

:javascript

  $(document).ready(function(){  
  $("#wiki-input").keyup(function(){
  $("#markdown").html(marked($("#wiki-input").val()));
  });

  $(function() {
  var availableTags = #{@names};
    $( "#user_name" ).autocomplete({
      source: availableTags
    });  
  });

  
  });


%h1
  
  Edit Wiki

%div{:class => "container"}
  %div{:class => "sixteen columns"}
  %div{:class => "six columns offset-by-five"}
    .newiki
      = simple_form_for(@wiki) do |f|
        .form-group
          = f.input :title
          - if current_user.admin? || @wiki.user == current_user && current_user.premium?
            = f.check_box :private
            private?
          = f.input :body, input_html: {id: "wiki-input"}
          #markdown
          = f.button :submit
      - if current_user.admin? || @wiki.user == current_user && current_user.premium?
        = @wiki.collaborators.each do |c|
          = link_to @users.find(c.user_id).name, c, method: :delete
        = simple_form_for(@collaborator) do |f|
          .form-group
            =text_field_tag :user_name
            =f.input :wiki_id, input_html: {value: @wiki.id}, as: :hidden
            =f.button :submit 
